$lined-border: 24px;

.about{
    overflow: hidden;
}
.line-fill {
    position: relative;
    display: block;
    height: 100%;
    margin-right: -$spacer;
    margin-left: -$spacer;

    @include line(top);
    @include line(bottom);

    &::before {
        @include border-fill(100%);

        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0;
        top: 0;
    }

    &--right {
        margin-left: -$spacer*2;
    }

    &--left {
        margin-right: -$spacer*2;
    }
}


.about-title {
    padding: remy(10) 0;
    margin: 0;

    @include line(top);
    @include line(bottom);

    @include media-breakpoint-up(md) {
        padding-left: 1rem;
        position: relative;
        @include line(left);
        @include line(right);

        &::before {
            content: '';
            left: -1px;
            right: -1px;
            position: absolute;
            height: $spacer;
            top: -$spacer;
            @include line(left);
            @include line(right);
        }

        &::after {
            content: '';
            left: -$spacer;
            position: absolute;
            width: $spacer;
            top: -1px;
            bottom: -1px;
            @include line(top);
            @include line(bottom);
        }
    }
}

.about {
    margin-top: $lined-border;
    margin-bottom: remy(20);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        @include border-fill($lined-border);
    }

    @include media-breakpoint-up(md) {
        margin-bottom: remy(60);

        &::before {
            display: none;
        }
    }
}

.about-solutions {
    text-align: center;

    @include media-breakpoint-up(md) {
        text-align: left;
    }
}

.about-content {
    position: relative;
    padding-top: 1rem;
    padding-bottom: remy(30);

    @include description-font-size;

    @include media-breakpoint-up(md) {
        padding-left: 1rem;
        padding-bottom: remy(60);
        @include line(left);
        @include line(right);

    }
}

.about-subtitle {
    margin: 0;
    padding: remy(10) 0;

    @include media-breakpoint-up(md) {
        padding: remy(20) 0;
        padding-left: 1rem;
        position: relative;
        @include line(left);
        @include line(right);
        @include line(top);
        @include line(bottom);

        &::after {
            content: '';
            right: -$spacer;
            position: absolute;
            width: $spacer;
            top: -1px;
            bottom: -1px;
            @include line(top);
            @include line(bottom);
        }
    }
}