.dotted-bg {
    @include retina-background-image('/assets/img/dots-pattern', 'png', 56px 56px)
}

a {
    @include transition;
}

html {
    // scroll-behavior: smooth;
}

body {
    padding-top: 70px;
}

::selection {
    background: theme-color(primary);
    color: $white;
}

::-webkit-scrollbar {
    width: $spacer/1.5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px theme-color(primary);
}

::-webkit-scrollbar-thumb {
    background-color: theme-color(primary);
    outline: 1px solid theme-color(primary);
}

.footer {
    padding-bottom: 4rem;
}

strong{
    font-weight: 600;
}