$box-padding: 1rem;

@mixin box-variant($color, $top-margin) {
    &-#{$color} {
        .box-colorized {
            color: theme-color($color);
        }

        .box-inner {
            border-color: theme-color($color);
        }

        .box-outer {
            background-color: theme-color($color);
        }

        @include media-breakpoint-up(md) {
            margin-top: $top-margin;
        }
    }
}


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 170px;
    position: relative;
    padding-right: $box-padding;
    padding-bottom: $box-padding;
    margin: 0.5rem 0;
    @include transition;

    .box-inner {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid transparent;
        background: theme-color(dark);
        right: $box-padding;
        bottom: $box-padding;
        z-index: 10;
        @include transition;
    }

    .box-outer {
        content: '';
        position: absolute;
        right: 0;
        left: $box-padding;
        top: $box-padding;
        bottom: 0;
        z-index: 5;
        @include transition;
    }

    @include box-variant('yellow', 1rem);
    @include box-variant(primary, 4rem);
    @include box-variant(secondary, 0rem);
    @include box-variant('blue', 7rem);

    @include media-breakpoint-up(lg) {
        min-height: 220px;
    }
}

.box-collapsed {
    padding-bottom: 0;

    .box-inner {
        right: 0;
        bottom: 0;
    }

    .box-outer {
        left: 0;
        top: 0;
    }
}

.box-content {
    position: relative;
    z-index: 20;
    padding: 1.5rem 1rem;

    @include media-breakpoint-up(md) {
        padding: remy(40) 2rem;
    }
}

.box-group {
    margin-bottom: $box-padding*2;

    .box {
        margin-bottom: 0;
        margin-top: 0;

        &:nth-child(n+2) {

        .box-outer {
                top: 0;
            }
        }
    }
}

.boxCollapse {
    animation-name: superAnimation;
}

.boxCollapseInner {
    animation-name: superAnimationBefore;
}

.boxCollapseOuter {
    animation-name: superAnimationAfter;
}


@-webkit-keyframes superAnimation {
    0% {
        padding-bottom: 0;
    }

    100% {
        padding-bottom: $box-padding;
    }
}

@-webkit-keyframes superAnimationBefore {
    0% {
        right: 0;
        bottom: 0;
    }

    100% {
        right: $box-padding;
        bottom: $box-padding;
    }
}

@-webkit-keyframes superAnimationAfter {
    0% {
        left: 0;
        top: 0;
    }

    100% {
        left: $box-padding;
        top: $box-padding;
    }
}