.faq {
    padding: 4rem 0;
}

.faq-answer {
    opacity: 1;
}

.faq-item {
    margin-top: 1.5rem;
    height: auto;
    min-height: 0;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    @include transition;
    user-select: none;
    opacity: 1;

    
    &.box-collapsed {
        opacity: 0.75;
    }

    &:hover{
        opacity: 1;
    }
}