$box-height: 500px;

.final {
    padding: 4rem 0 0;
    border-bottom: 1px solid theme-color(primary);
}

.final-wrap {
    padding-bottom: 3rem;
    border-left: 1px solid theme-color(primary);
}

.final-content-wrap {
    left: -1px;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    @include media-breakpoint-up(lg) {
        min-height: $box-height;
        margin-bottom: 3rem;
    }
}

.final-content {
    position: relative;
    z-index: 30;
    padding: 1rem 2rem 2rem 1rem;

    @include media-breakpoint-up(lg) {
        padding: 2.5rem 3rem 3rem;
    }
}

.final-box {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.final-flag {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    height: $box-height;

    &::before {
        content: '';
        z-index: 20;
        width: 1rem;
        background: theme-color(primary);
        position: absolute;
        right: 34px;
        top: -1px;
        bottom: 0;
    }

    &::after {
        content: '';
        position: absolute;
        top: -10px;
        right: 48px;
        left: 0;
        bottom: 0;
        background: theme-color(dark);
    }

}

.final-flag-top {
    position: absolute;
    width: 100%;
    top: 0;
    height: 50%;
    z-index: 20;

    &::before {
        content: '';
        top: -1px;
        position: absolute;
        right: -16px;
        width: 0;
        height: 0;
        border-right: 50px solid transparent;
        border-top: 260px solid theme-color(primary);
    }

    &::after {
        content: '';
        top: -1px;
        position: absolute;
        right: 0;
        width: 0;
        height: 0;
        border-right: 50px solid transparent;
        border-top: 260px solid theme-color(dark);
    }
}


.final-flag-bottom {
    position: absolute;
    z-index: 20;
    width: 100%;
    bottom: 0;
    height: 51%;

    &::before {
        content: '';
        top: -1px;
        z-index: 20;
        position: absolute;
        right: -16px;
        width: 0;
        height: 0;
        border-right: 50px solid transparent;
        border-bottom: 260px solid theme-color(primary);
    }

    &::after {
        content: '';
        z-index: 20;
        top: -1px;
        position: absolute;
        right: 0;
        width: 0;
        height: 0;
        border-right: 50px solid transparent;
        border-bottom: 260px solid theme-color(dark);
    }
}

.final-flag-line-top {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0px;
    z-index: 10;
    top: -10px;
    height: 50%;
    border-top: 1px solid theme-color(primary);
    border-left: 1px solid theme-color(primary);

    &::before {
        content: '';
        top: -1px;
        position: absolute;
        right: -3px;
        width: 0;
        z-index: 10;
        height: 0;
        border-right: 50px solid transparent;
        border-top: 260px solid theme-color(primary);
    }

    &::after {
        content: '';
        z-index: 10;
        top: 0px;
        position: absolute;
        right: -2px;
        width: 0;
        height: 0;
        border-right: 50px solid transparent;
        border-top: 260px solid theme-color(dark);
    }
}

.final-flag-line-bottom {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 20;
    bottom: -4px;
    height: 50%;
    border-bottom: 8px solid theme-color(primary);

    &::before {
        content: '';
        left: 0;
        right: -1px;
        top: -16px;
        position: absolute;
        display: block;
        width: 1px;
        bottom: 0;
        border-left: 1px solid theme-color(primary);
    }

    &::after {
        content: '';
        z-index: 10;
        right: 2px;
        bottom: 0px;
        position: absolute;
        width: 0;
        height: 0;
        border-right: 50px solid transparent;
        border-bottom: 260px solid theme-color(dark);
    }
}

.final-top {
    @include media-breakpoint-up(md) {
        display: flex;
        justify-content: space-between;
    }
}

.final-date {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    h1 {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
        flex-direction: column;
    }
}

.final-month {
    font-size: remy(32);
    margin-left: 0.5rem;
    text-transform: lowercase;
    font-family: $font-family-monospace;

    @include media-breakpoint-up(lg) {
        margin-left: 0;
        text-transform: none;
    }
}

.final-address {
    @include media-breakpoint-up(lg) {
        padding-right: 1rem;
    }
}

.final-address-title {
    font-size: remy(20);

    @include media-breakpoint-up(md) {
        font-family: $font-family-monospace;
    }

    @include media-breakpoint-up(lg) {
        font-size: remy(32);
    }
}

.final-article {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;

    @include media-breakpoint-up(md) {
        margin-top: 2rem;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 3rem;
        margin-top: -1rem;
        text-align: left;
    }
}

.final-action {
    text-align: center;

    @include media-breakpoint-up(lg) {
        text-align: left;
    }
}

.speaker-wrap {
    padding: 0 1rem;
}

.speaker {
    text-align: center;
    margin: 2rem 0;

    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        text-align: left;
    }
}

.speaker-image {
    display: inline-block;  
    position: relative;
    padding: 1rem;
    width: 152px;
    height: 152px;
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
        margin-right: 2rem;
        margin-bottom: 0;
    }

    &::before {
        content: '';
        top: 1rem;
        bottom: 1rem;
        left: 0;
        right: 0;
        position: absolute;
        border-top: 1px solid theme-color(primary);
        border-bottom: 1px solid theme-color(primary);
    }

    &::after {
        content: '';
        top: 0;
        bottom: 0;
        left: 1rem;
        right: 1rem;
        position: absolute;
        border-left: 1px solid theme-color(primary);
        border-right: 1px solid theme-color(primary);
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.speaker-name {
    font-family: $font-family-monospace;
    font-size: remy(32);
    display: block;
    color: $white;
}

.speaker-about {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}