.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include media-breakpoint-up(lg) {
        order: 3;
    }
}

.header-social {
    color: theme-color('white');
    display: inline-flex;
    margin-right: remy(12);
    margin-bottom: 0;

    // @include media-breakpoint-up(lg) {
    //     margin-right: 2rem;
    // }

    a {
        display: inline-block;
        padding: remy(12);
        @include transition;

        &:hover {
            transform: scale(1.2);    
        }
    }
}

.header-small-logo {
    position: relative;
    display: flex;
    align-items: flex-start;

    img {
        margin-left: remy(5);
    }
}