.hero-wrap{
    overflow: hidden;
}
.hero {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 60vh;

    @include media-breakpoint-up(lg) {
        height: 100vh;
        max-height: 750px;
        align-items: center;
    }


    @include media-breakpoint-up(xl) {
        max-height: 900px;
    }


    &::before,
    &::after {
        content: '';
        position: absolute;
        left: -$spacer*2;
        right: -$spacer*2;
        display: block;
    }

    &::before {
        top: 0;
        height: 100%;
        left: 0;
        right: 0;
        // background-position: 100% 50%;
        // background-size: 100% 100%;
        // background-image: url('/assets/img/gridlines-320-free.svg');
        
        @include media-breakpoint-up(lg) {
            background-size: auto;
            background-position: 0% 50%;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-image: url('/assets/img/gridlines-1024-free.svg');
        }


        @include media-breakpoint-up(lg) {

        }


        @include media-breakpoint-up(xl) {
            background-image: url('/assets/img/gridlines-1200-free.svg');
        }
    }

    &::after {
        bottom: 0;
        background: linear-gradient(180deg, rgba(32, 32, 32, 0.0001) 4.2%, #202020 62.3%);
        height: 100%;
        
        @include media-breakpoint-up(lg) {
            height: 20%;
        }
    }
}

.hero-content {
    padding: 40px 0;
    position: relative;
    z-index: 20;

    @include description-font-size;
    @include media-breakpoint-up(lg) {
        top: -2rem;
    }
}

.hero-logo-wrap {
    position: relative;
    height: 80px;


    @include media-breakpoint-up(md) {
        height: 110px;
    }

    @include media-breakpoint-up(xl) {
        height: 120px;
    }

    @include media-breakpoint-up(xl) {
        // height: 110px;
    }

}

.hero-logo {
    position: absolute;
    top: 0;
    left: 0;
    
    &.blinking {
        animation: blink linear infinite 2s;
    }

    @include media-breakpoint-up(lg) {
        max-width: 641px;
    }
    @include media-breakpoint-up(xl) {
        max-width: 770px;
    }
    
}


.hero-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @include media-breakpoint-up(sm) {
        // justify-content: center;
        left: -$spacer/2;
        right: -$spacer/2;
        &::before {
            content: '';
            left: $spacer/2;
            right: $spacer/2;
            top: 0;
            bottom: 0;
            position: absolute;
            // border-left: 1px solid theme-color(primary);
            // border-right: 1px solid theme-color(primary);
        }
    }

    @include media-breakpoint-up(md) {
        
        &::before {
            display: none;
        }
        
    }

    @include media-breakpoint-up(lg) {
        display: none;
    }

    .col-1,
    .col-xs-1,
    .col-sm-1,
    .col-2 {
        position: relative;

        // @include media-breakpoint-up(sm) {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        // }

        @include media-breakpoint-up(md) {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }

        &:before {
            content: '';
            display: block;
            height: 100%;
            border-left: 1px solid theme-color(primary);
            border-right: 1px solid theme-color(primary);
        }
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(#202020, 0.9) 0%, transparent 100%);
    }

}


@keyframes blink {
    78% {
        opacity: 1;

    }

    79% {
        opacity: 0;
    }

    80% {
        opacity: 0.5;
    }

    81% {
        opacity: 1;
    }

    82% {
        opacity: 0;
    }

    83% {
        opacity: 1;
    }

    92% {
        opacity: 0;
    }

    92.5% {
        opacity: 1;
    }
}