.list {
    list-style: none;
    display: block;
    padding: remy(6) 0;
    margin: 0;

    li {
        display: flex;
        padding: remy(6) 0;

        @include description-font-size;

        &::before {
            content: '';
            flex-shrink: 0;
            display: block;
            width: remy(12);
            margin-top: remy(6);
            height: remy(12);
            line-height: inherit;
            border-radius: 50%;
            border: 1px solid theme-color(primary);
            margin-right: 0.5rem;

            @include media-breakpoint-up(md) {
                margin-top: remy(12);
                margin-right: remy(28);
            }
        }
    }
}