.partners {
    background: theme-color(dark);
    text-align: center;
    padding: 3rem 0;
}

.partners-list {
    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.partners-item {
    opacity: 0.5;
    margin: 1rem;
    display: block;
    text-align: center;
    @include transition;

    &:hover {
        opacity: 1;
    }

    @include media-breakpoint-up(md) {
        margin: 2rem;
    }

    img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
    }
}

.partners-buro {
}

.partners-steppe {
}

.partners-designer {
}