.participants {
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
}

.participants-title {
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 2rem;
    }
}

.participants-content {
    margin-top: 1rem;

    @include media-breakpoint-up(md) {
        margin-top: 2rem;
    }
}

.participants-register {
    text-align: center;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
        text-align: left;
    }
    @include media-breakpoint-up(lg) {
        align-items: flex-start;
        flex-direction: column-reverse;
    }
}

.participants-info {
    margin-top: 1rem;

    @include description-font-size;

    @include media-breakpoint-up(lg) {
        position: relative;
        margin-top: 0;
        margin-bottom: 2rem;
        padding-top: 2rem;

        &::before{
            content: '';
            top: 0;
            position: absolute;
            left: -9999px;
            right: -$spacer*2;
            border-top: 1px solid theme-color(primary);
        }
    }
}

.participants-row{
    @include media-breakpoint-up(lg) {
        flex-direction: row-reverse;
    }
}