
.prizes {
    text-align: center;
    padding-top: remy(50);
    padding-bottom: 4rem;
    @include media-breakpoint-up(md) {
        padding-bottom: 5.5rem;
    }
}

.prizes-place,
.prizes-amount {
    position: relative;
    z-index: 20;
}

.prizes-place {
    margin-bottom: 1rem;
}

.prizes-amount {
    color: $white;
    white-space: nowrap;
}

.prizes-title {
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 2rem;
    }
}