.register {
    text-align: center;
    padding: 2rem 0;

    @include media-breakpoint-up(md) {
        padding: 4rem 0;
    }
}

.register-box {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.register-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include media-breakpoint-up(md) {
        min-height: 600px;
    }
}

.register-title {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(md) {
        height: 160px;
    }
}

.countdown {
    margin-bottom: 2rem;
    
    @include media-breakpoint-up(md) {
        margin-bottom: 4rem;
        min-height: 135px;
    }
}

.countdown-value {
    font-size: remy(20);

    @include media-breakpoint-up(lg) {
        font-family: $font-family-monospace;
        font-size: remy(32);
    }
}

.register-bottom {
    margin-top: 2rem;
    margin-bottom: 1rem;


    @include media-breakpoint-up(md) {
        margin-top: 3rem;
        min-height: 100px;
        margin-bottom: 0;
    }
}