.schedule {
    position: relative;

    padding: 2rem 0 1rem;

    @include media-breakpoint-up(lg) {
        padding: 4rem 0 1rem;
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        opacity: 0.1;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(319.65deg, #00B3E0 0%, #00E0C8 48.74%, #ECEC51 100%);
    }
}

.schedule-subtitle {
    text-align: center;
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
        text-align: left;
    }
}

.schedule-box {
    font-family: $font-family-monospace;
    background: theme-color(dark);
    padding: 0.75rem 0.75rem 1rem;
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
        padding: 1rem;
    }

    &--blue {
        background: linear-gradient(145.92deg, #00B5E0 0%, #00C8E0 47.73%, #5190EC 97.93%);
    }

    &--orange {
        background: linear-gradient(163.16deg, #E00000 1.36%, #E04A00 47.73%, #EC8651 97.93%);
    }
}

.schedule-top {
    display: flex;
    justify-content: space-between;
}

.schedule-date {
    font-size: remy(32);
}

.schedule-weekday,
.schedule-time {
    font-size: remy(18);
}

.schedule-content {
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 3rem;
    }
}