.btn {
    text-transform: uppercase;
    font-family: $font-family-monospace;
}

.btn-lg {
    padding: $btn-padding-y $btn-padding-x;
    
    @include media-breakpoint-up(md) {
        padding: $btn-padding-y-lg $btn-padding-x-lg;
    }
}

button{
    &:focus{
        outline: none;   
    }
}