.navbar-nav {
    padding-top: 1rem;

    @include media-breakpoint-up(lg) {
        padding-top: 0;
    }
}

.navbar-nav .nav-link{
    font-family: $font-family-monospace;
}

.navbar-expand-lg .navbar-nav .nav-link{
    @include media-breakpoint-up(lg) {
        padding-left: remy(12);
        padding-right: remy(12);
    }
}