h1,
.h1 {
    font-size: $h1-font-size;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
        font-size: $h1-font-size-lg;
        margin-bottom: 40px;
    }
}

h2,
.h2 {
    font-size: $h2-font-size;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
        font-size: $h2-font-size-lg;
    }
}

h3,
.h3 {
    font-size: $h3-font-size;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
        font-size: $h3-font-size-lg;
    }
}

h4,
.h4 {
    font-size: $h4-font-size;

    @include media-breakpoint-up(lg) {
        font-size: $h4-font-size-lg;
    }
}

h5,
.h5 {
    font-size: $h5-font-size;
}

h6,
.h6 {
    font-size: $h6-font-size;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-family-base;
}