<section class="about">
    <section class="container">
        <article class="about-what wow fadeInRight">
            <div class="row">
                <div class="col-md-9 col-xl-7">
                    <h1 class="about-title">Что это?</h1>
                </div>
                <div class="d-none d-md-block col-md-3 col-xl-5">
                    <div class="line-fill line-fill--right"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-xl-7">
                    <div class="about-content">
                        <ul class="list">
                            <li>Полноценный дизайн-спринт</li>
                            <li>Набор практических UX-исследований</li>
                            <li>
                                <span>
                                    Отрисовка интерфейсов мобильного приложения <a target="_blank"
                                       href="https://www.onlinebank.kz">Onlinebank</a> для Halyk Bank
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        <article class="about-solutions wow fadeInLeft">
            <div class="row">
                <div class="d-none d-md-block col-md-3 col-xl-5">
                    <div class="line-fill line-fill--left"></div>
                </div>
                <div class="col-md-9 col-xl-7">
                    <h3 class="about-subtitle">Лучшие решения пойдут в Production</h3>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-3 col-md-9 offset-xl-5 col-xl-7">
                    <div class="about-content">
                        Прокачай свои скиллы с опытными координаторами из STRONG и поборись за солидный призовой
                        фонд!
                    </div>
                </div>
            </div>
        </article>
    </section>
</section>