<section class="faq"
         id="faq">
    <section class="container">
        <h1 class="text-center">FAQ</h1>
        <div class="faq-list"
             id="questions-list">
            <div class="faq-item box box-primary box-collapsed js-question wow fadeInUp"
                 ga-event="faq faq-1"
                 data-category="faq"
                 data-action="question-1"
                 href="#answer1">
                <div class="box-inner"></div>
                <div class="box-outer"></div>
                <div class="box-content">
                    <h4 class="faq-question">Может ли быть команда без UX/UI дизайнера?</h4>
                    <div id="answer1"
                         class="faq-answer collapse">Нет. В команде должен быть от 1 до 3 UX/UI дизайнеров.</div>
                </div>
            </div>
            <div class="faq-item box box-primary box-collapsed js-question wow fadeInUp"
                 ga-event="faq faq-2"
                 data-category="faq"
                 data-action="question-2"
                 href="#answer2">
                <div class="box-inner"></div>
                <div class="box-outer"></div>
                <div class="box-content">
                    <h4 class="faq-question">Если я Product-менеджер, и у меня нет команды, могу я зарегистрироваться?
                    </h4>
                    <div id="answer2"
                         class="faq-answer collapse">Да. Если ты проходишь в список участников, мы подберем тебе в
                        команду
                        UX/UI-дизайнера, который регистрировался один.</div>
                </div>
            </div>
            <div class="faq-item box box-primary box-collapsed js-question wow fadeInUp"
                 ga-event="faq faq-3"
                 data-category="faq"
                 data-action="question-3"
                 href="#answer3">
                <div class="box-inner"></div>
                <div class="box-outer"></div>
                <div class="box-content">
                    <h4 class="faq-question">Если я UX/UI-дизайнер, и у меня нет команды, могу я зарегистрироваться?
                    </h4>
                    <div id="answer3"
                         class="faq-answer collapse">Да. Если ты проходишь в список участников, мы подберем тебе в
                        команду
                        Product-менеджера, который регистрировался один.</div>
                </div>
            </div>
            <div class="faq-item box box-primary box-collapsed js-question wow fadeInUp"
                 ga-event="faq faq-4"
                 data-category="faq"
                 data-action="question-4"
                 href="#answer4">
                <div class="box-inner"></div>
                <div class="box-outer"></div>
                <div class="box-content">
                    <h4 class="faq-question">Как выглядит идеальная команда?
                    </h4>
                    <div id="answer4"
                         class="faq-answer collapse">Идеальная команда состоит из трёх человек: UX/UI-дизайнер,
                        Product-менеджер,
                        Аналитик, который умеет работать с данными о пользователях и делать выводы об их поведении,
                        потребностях.</div>
                </div>
            </div>
            <div class="faq-item box box-primary box-collapsed js-question wow fadeInUp"
                 ga-event="faq faq-5"
                 data-category="faq"
                 data-action="question-5"
                 href="#answer5">
                <div class="box-inner"></div>
                <div class="box-outer"></div>
                <div class="box-content">
                    <h4 class="faq-question">Почему важно загрузить CV и Портфолио?
                    </h4>
                    <div id="answer5"
                         class="faq-answer collapse">Желающих участвовать очень много, ведь на кону 10 000$!
                        Координировать и
                        допустить к участию физически, мы можем только отобранных участников. Качественные CV и
                        Портфолио с информацией об уровне твоих профессиональных навыков - повышают твои шансы пройти
                        отбор. Чем больше ты загрузишь качественной информации о себе, тем больше вероятность того, что
                        ты будешь отобран</div>
                </div>
            </div>
            <div class="faq-item box box-primary box-collapsed js-question wow fadeInUp"
                 ga-event="faq faq-6"
                 data-category="faq"
                 data-action="question-6"
                 href="#answer6">
                <div class="box-inner"></div>
                <div class="box-outer"></div>
                <div class="box-content">
                    <h4 class="faq-question">Могу ли я регистрироваться, если я из другого города?
                    </h4>
                    <div id="answer6"
                         class="faq-answer collapse">Могут регистрироваться участники с любой точки планеты, но тебе и
                        команде
                        обязательно нужно будет быть в Алматы 20-21 апреля и 27-28 апреля. Все расходы по проживанию,
                        проезду в Алматы и обратно, оплачиваются участником — самостоятельно.</div>
                </div>
            </div>
        </div>
    </section>
</section>