<section class="final"
         id="final">
    <section class="container">
        <h1 class="d-lg-none text-center">Grand Final</h1>
        <div class="final-wrap">
            <div class="final-content-wrap">
                <div class="final-box box box-primary d-lg-none">
                    <div class="box-inner"></div>
                    <div class="box-outer"></div>
                </div>
                <div class="final-flag d-none d-lg-block">
                    <div class="final-flag-line-top"></div>
                    <div class="final-flag-top"></div>
                    <div class="final-flag-bottom"></div>
                    <div class="final-flag-line-bottom"></div>
                </div>
                <article class="final-content">
                    <div class="final-top">
                        <div class="final-date">
                            <h1>28</h1>
                            <div class="final-month">Апреля</div>
                        </div>
                        <div class="final-address">
                            <div class="final-address-title">
                                Smart.Point
                            </div>
                            <div class="final-address-description d-none d-md-block">г. Алматы, ул. Байзакова 280</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-lg-3 col-lg-8 col-xl-6">
                            <div class="final-article">
                                <h1 class="d-none d-lg-block mb-2">Grand Final</h1>
                                <p>28 апреля в г. Алматы в амфитеатре Smart.Point
                                    по адресу ул. Байзакова 280 состоится финал ProductOn. </p>
                            </div>
                            <div class="final-action">
                                <a href="#register-viewer"
                                   ga-event="final-register"
                                   data-category="final"
                                   data-action="register-scroll"
                                   class="btn btn-primary btn-lg mb-2">Зарегистрироваться как зритель</a>
                                <p class="text-muted">Бесплатно, количество мест ограничено.</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="speaker-wrap">
                <div class="row">
                    <div class="offset-md-1 col">
                        <ul class="list">
                            <li>Презентация работ членам жюри, выбор и объявление победителей.</li>
                            <li>Выступление приглашенных спикеров:</li>
                        </ul>
                        <div class="speaker-list">
                            <div class="speaker wow fadeInRight">
                                <a target="_blank"
                                   ga-event="final-philip"
                                   data-category="final"
                                   data-action="philip-linkedin"
                                   href="https://www.linkedin.com/in/philip-mattha-87959672/"
                                   class="speaker-image">
                                    <img src="/assets/img/philip.jpg"
                                         srcset="/assets/img/philip@2x.jpg 2x, /assets/img/philip@3x.jpg 3x">
                                </a>
                                <div class="speaker-info">
                                    <a target="_blank"
                                       ga-event="final-philip"
                                       data-category="final"
                                       data-action="philip-linkedin"
                                       href="https://www.linkedin.com/in/philip-mattha-87959672/"
                                       class="speaker-name">Philip Mattha</a>
                                    <a target="_blank"
                                       ga-event="final-philip"
                                       data-category="final"
                                       data-action="philip-linkedin"
                                       href="https://www.linkedin.com/in/philip-mattha-87959672/"
                                       class="text-muted">[filip mata]</a>
                                    <p class="speaker-about">
                                        Digital Art Director at <a target="_blank"
                                           ga-event="final-philip"
                                           data-category="final"
                                           data-action="philip-ubs"
                                           href="https://www.ubs.com/global/en.html">UBS</a> <br>
                                        Zürich, Canton of Zürich, Switzerland <br>
                                        Past: <a target="_blank"
                                           ga-event="final-philip"
                                           data-category="final"
                                           data-action="philip-n26"
                                           href="https://www.n26.com/en-eu/">N26</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="speaker wow fadeInRight">
                            <a target="_blank"
                               ga-event="final-sergey"
                               data-category="final"
                               data-action="sergey-linkedin"
                               href="https://www.linkedin.com/in/krasotin/"
                               class="speaker-image">
                                <img src="/assets/img/sergey.jpg"
                                     srcset="/assets/img/sergey@2x.jpg 2x, /assets/img/sergey@3x.jpg 3x">
                            </a>
                            <div class="speaker-info">
                                <a target="_blank"
                                   ga-event="final-sergey"
                                   data-category="final"
                                   data-action="sergey-linkedin"
                                   href="https://www.linkedin.com/in/krasotin/"
                                   class="speaker-name">Sergey Krasotin </a>
                                <a target="_blank"
                                   ga-event="final-sergey"
                                   data-category="final"
                                   data-action="sergey-linkedin"
                                   href="https://www.linkedin.com/in/krasotin/"
                                   class="text-muted">[sergei krasotin]</a>
                                <p class="speaker-about">
                                    Art director at <a target="_blank"
                                       ga-event="final-sergey"
                                       data-category="final"
                                       data-action="sergey-humble"
                                       href="https://humbleteam.com/">HumbleTeam</a>
                                    <br>
                                    Прага, Чешская Республика <br>
                                    Past: <a target="_blank"
                                       ga-event="final-sergey"
                                       data-category="final"
                                       data-action="sergey-cpeople"
                                       href="https://cpeople.ru/">Creative People,</a> <a ga-event="final-sergey"
                                       data-category="final"
                                       data-action="sergey-volkswagenag"
                                       target="_blank"
                                       href="https://www.volkswagenag.com/">Volkswagen Group</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>