<head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async
              src="https://www.googletagmanager.com/gtag/js?id=UA-137499064-1"></script>
      <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                  dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-137499064-1');
      </script>
      <!-- Google Tag Manager -->
      <script>
            (function (w, d, s, l, i) {
                  w[l] = w[l] || [];
                  w[l].push({
                        'gtm.start': new Date().getTime(),
                        event: 'gtm.js'
                  });
                  var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s),
                        dl = l != 'dataLayer' ? '&l=' + l : '';
                  j.async = true;
                  j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                  f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-WP7TCXD');
      </script>
      <!-- End Google Tag Manager -->
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible"
            content="ie=edge">
      <title>ProductOn - Супер-ивент для UI/UX-специалистов
            и Product Manager-ов.</title>
      <link rel="stylesheet"
            href="assets/styles.min.css?v=0304191543">
      <style>
            .loading {
                  overflow: hidden;
            }

            .loader-wrap {
                  display: none;
                  align-items: center;
                  justify-content: center;
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  z-index: 2000;
                  background: #202020;
            }

            .loading .loader-wrap {
                  display: flex;
            }

            .loader,
            .loader:after {
                  border-radius: 50%;
                  width: 10em;
                  height: 10em;
            }

            .loader {
                  margin: 60px auto;
                  font-size: 10px;
                  position: relative;
                  text-indent: -9999em;
                  border-top: 1.1em solid rgba(0, 224, 200, 0.2);
                  border-right: 1.1em solid rgba(0, 224, 200, 0.2);
                  border-bottom: 1.1em solid rgba(0, 224, 200, 0.2);
                  border-left: 1.1em solid #00e0c8;
                  -webkit-transform: translateZ(0);
                  -ms-transform: translateZ(0);
                  transform: translateZ(0);
                  -webkit-animation: load8 0.8s infinite linear;
                  animation: load8 0.8s infinite linear;
            }

            @-webkit-keyframes load8 {
                  0% {
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                  }

                  100% {
                        -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
                  }
            }

            @keyframes load8 {
                  0% {
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                  }

                  100% {
                        -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
                  }
            }
      </style>
      <link rel="apple-touch-icon"
            sizes="57x57"
            href="/assets/favicon/apple-icon-57x57.png">
      <link rel="apple-touch-icon"
            sizes="60x60"
            href="/assets/favicon/apple-icon-60x60.png">
      <link rel="apple-touch-icon"
            sizes="72x72"
            href="/assets/favicon/apple-icon-72x72.png">
      <link rel="apple-touch-icon"
            sizes="76x76"
            href="/assets/favicon/apple-icon-76x76.png">
      <link rel="apple-touch-icon"
            sizes="114x114"
            href="/assets/favicon/apple-icon-114x114.png">
      <link rel="apple-touch-icon"
            sizes="120x120"
            href="/assets/favicon/apple-icon-120x120.png">
      <link rel="apple-touch-icon"
            sizes="144x144"
            href="/assets/favicon/apple-icon-144x144.png">
      <link rel="apple-touch-icon"
            sizes="152x152"
            href="/assets/favicon/apple-icon-152x152.png">
      <link rel="apple-touch-icon"
            sizes="180x180"
            href="/assets/favicon/apple-icon-180x180.png">
      <link rel="icon"
            type="image/png"
            sizes="192x192"
            href="/assets/favicon/android-icon-192x192.png">
      <link rel="icon"
            type="image/png"
            sizes="32x32"
            href="/assets/favicon/favicon-32x32.png">
      <link rel="icon"
            type="image/png"
            sizes="96x96"
            href="/assets/favicon/favicon-96x96.png">
      <link rel="icon"
            type="image/png"
            sizes="16x16"
            href="/assets/favicon/favicon-16x16.png">
      <link rel="manifest"
            href="/assets/favicon/manifest.json">
      <meta name="msapplication-TileColor"
            content="#ffffff">
      <meta name="msapplication-TileImage"
            content="/assets/favicon/ms-icon-144x144.png">
      <meta name="theme-color"
            content="#ffffff">
</head>