<section class="hero-wrap">
    <section class="container">
        <section class="hero" data-aos="fade-up">
            <div class="row hero-bg">
                <div class="col-2 col-sm-1"></div>
                <div class="col-2 col-sm-1"></div>
                <div class="col-2 col-sm-1"></div>
                <div class="col-2 col-sm-1"></div>
                <div class="col-2 col-sm-1"></div>
                <div class="col-2 col-sm-1"></div>
                <div class="col-2 d-sm-block col-sm-1"></div>
                <div class="col-2 d-sm-block col-sm-1"></div>
                <div class="col-2 d-sm-block col-sm-1"></div>
                <div class="col-2 d-sm-block col-sm-1"></div>
                <div class="col-2 d-sm-block col-sm-1"></div>
                <div class="col-2 d-sm-block col-sm-1"></div>
            </div>
            <article class="hero-content">
                <div class="hero-logo-wrap" ga-event="hero-logo">
                    <img class="hero-logo d-md-none blinking"
                         src="/assets/img/logo-halyk-320-on.svg">
                    <img class="hero-logo d-md-none"
                         src="/assets/img/logo-halyk-320-off.svg">
                    <img class="hero-logo d-none d-md-block d-lg-none blinking"
                         src="/assets/img/logo-halyk-1024-on.svg">
                    <img class="hero-logo d-none d-md-block d-lg-none"
                         src="/assets/img/logo-halyk-1024-off.svg">
                    <img class="hero-logo d-none d-lg-block blinking"
                         src="/assets/img/logo-halyk-1200-on.svg">
                    <img class="hero-logo d-none d-lg-block"
                         src="/assets/img/logo-halyk-1200-off.svg">
                </div>
                <div>
                    Алматы, 20-28 апреля <br>
                    Супер-ивент для UI/UX-специалистов и Product Manager-ов. <br>
                    Прокачай свои скиллы и поборись за солидный призовой фонд — 10 000 USD.
                </div>
            </article>
        </section>
    </section>
</section>