<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="header-right">
      <div class="header-social">
        <a target="_blank" href="https://www.instagram.com/strongte.am/">
          <img src="/assets/img/insta.svg" alt="">
        </a>
        <a target="_blank" href="https://t.me/strongteam1">
          <img src="/assets/img/telega.svg" alt="">
        </a>
      </div>
      <a href="#register"
         ga-event="nav-register"
         data-category="nav"
         data-action="register"
         class="btn btn-white">Регистрация</a>
    </div>

    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link header-small-logo"
             ga-event="nav-producton"
             data-category="nav"
             data-action="producton"
             href="#producton">
            <span>ProductOn</span>
            <img src="/assets/img/by_halyk_small.svg"
                 alt=""></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             ga-event="nav-prizes"
             data-category="nav"
             data-action="prizes"
             href="#prizes">Призовой фонд</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             ga-event="nav-participants"
             data-category="nav"
             data-action="participants"
             href="#participants">Участие</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             ga-event="nav-schedule"
             data-category="nav"
             data-action="schedule"
             href="#schedule">Расписание</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             ga-event="nav-final"
             data-category="nav"
             data-action="final"
             href="#final">Grand Final</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             ga-event="nav-faq"
             data-category="nav"
             data-action="faq"
             href="#faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>