<section class="partners">
    <h3>Информационные партнеры</h3>
    <div class="partners-list">
        <a target="_blank" href="https://www.buro247.kz/" class="partners-item partners-buro">
            <img src="/assets/img/partners/buro.png" srcset="/assets/img/partners/buro@2x.png 2x">
        </a>
        <a target="_blank" href="https://designer.kz/" class="partners-item partners-designer">
            <img src="/assets/img/partners/designerkz.png" srcset="/assets/img/partners/designerkz@2x.png 2x"> 
        </a>
    </div>    
</section>