<section class="participants"
         id="participants">
    <section class="container">
        <h1 class="participants-title">Кто может участвовать?</h1>
        <div class="row participants-row">
            <div class="col-lg-7 col-xl-6">
                <div class="box-group">
                    <div class="box box-primary wow fadeInRight">
                        <div class="box-inner"></div>
                        <div class="box-outer"></div>
                        <div class="box-content">
                            <h2 class="mb-0">
                                Команда
                            </h2>
                            <div class="h4">
                                из 2 или 3 специалистов
                            </div>
                            <article class="participants-content">
                                <p>
                                    В составе обязательно должны быть: <br>
                                    — UI/UX designer с опытом создания интерфейсов мобильных приложений. <br>
                                    — Product Manager с опытом анализа потребностей и поведения пользователей цифровых
                                    продуктов.
                                </p>
                                <p>
                                    Команды могут зарегистрировать 3-его участника. Он может быть вторым дизайнером,
                                    может
                                    быть аналитиком с опытом в UX, может быть вторым Product Manager.
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="box box-primary wow fadeInRight">
                        <div class="box-inner"></div>
                        <div class="box-outer"></div>
                        <div class="box-content">
                            <h2 class="mb-0">
                                Соло
                            </h2>
                            <div class="h4">
                                приходи один
                            </div>
                            <article class="participants-content">
                                <p>
                                    Если у вас нет команды, но вы UI/UX designer или Product Manager, вы можете
                                    зарегистрироваться один.
                                </p>
                                <p>
                                    Если вы будете отобраны для участия, организаторы подберут вам другого участника,
                                    который будет дополнять вас по экспертизе.
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-6">
                <div class="participants-register wow fadeInLeft">
                    <a href="#register"
                       ga-event="participants-register"
                       data-category="participants"
                       data-action="register-scroll"
                       class="btn btn-lg btn-secondary">Зарегистрироваться <br class="d-sm-none"> как участник</a>
                    <p class="participants-info">
                        Количество команд-участников ограничено. Организаторами будет проводиться отбор.
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>