<section class="prizes"
    id="prizes">
    <div class="container">
        <h1 class="prizes-title">Призовой фонд</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="prizes-box box box-yellow wow boxCollapse"
                    ga-event="prizes prizes-1"
                    data-category="prizes"
                    data-action="prizes-1"
                    data-wow-duration="0.7s">
                    <div class="box-inner wow boxCollapseInner"
                        data-wow-duration="0.7s"
                        data-wow-delay="0s"></div>
                    <div class="box-outer wow boxCollapseOuter"
                        data-wow-duration="0.7s"
                        data-wow-delay="0s"></div>
                    <div class="box-content">
                        <h3 class="prizes-place box-colorized">
                            I место
                        </h3>
                        <h2 class="prizes-amount">
                            2 000 000
                            <span class="tenge-sign">&#8376;</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="prizes-box box box-primary wow boxCollapse"
                    ga-event="prizes prizes-2"
                    data-category="prizes"
                    data-action="prizes-2"
                    data-wow-duration="0.7s"
                    data-wow-delay="0.7s">
                    <div class="box-inner wow boxCollapseInner"
                        data-wow-duration="0.7s"
                        data-wow-delay="0.7s"></div>
                    <div class="box-outer wow boxCollapseOuter"
                        data-wow-duration="0.7s"
                        data-wow-delay="0.7s"></div>
                    <div class="box-content">
                        <h3 class="prizes-place box-colorized">
                            II место
                        </h3>
                        <h2 class="prizes-amount">
                            1 000 000
                            <span class="tenge-sign">&#8376;</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="prizes-box box box-blue wow boxCollapse"
                    data-wow-duration="0.7s"
                    data-wow-delay="1.4s"
                    ga-event="prizes prizes-3"
                    data-category="prizes"
                    data-action="prizes-3">
                    <div class="box-inner wow boxCollapseInner"
                        data-wow-duration="0.7s"
                        data-wow-delay="1.4s"></div>
                    <div class="box-outer wow boxCollapseOuter"
                        data-wow-duration="0.7s"
                        data-wow-delay="1.4s"></div>
                    <div class="box-content">
                        <h3 class="prizes-place box-colorized">
                            III место
                        </h3>
                        <h2 class="prizes-amount">
                            750 000
                            <span class="tenge-sign">&#8376;</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>