<section class="register"
         id="register">
    <section class="container">
        <h1>Регистрация</h1>
        <div class="row align-items-stretch">
            <div class="col-md-6">
                <div class="box box-secondary register-box wow boxCollapse"
                     data-wow-duration="0.7s">
                    <div class="box-inner wow boxCollapseInner"
                         data-wow-duration="0.7s"
                         data-wow-delay="0s"></div>
                    <div class="box-outer wow boxCollapseOuter"
                         data-wow-duration="0.7s"
                         data-wow-delay="0s"></div>
                    <div class="box-content register-content">
                        <h2 class="box-colorized register-title">Как участник</h2>
                        <div class="countdown">
                            <div class="countdown-value mb-2">Регистрация закрыта</div>
                            <div class="countdown-description">
                                Однако вы можете зарегистрироваться на Grand Final. <br>
                                Посмотреть работы участников и послушать зарубежных спикеров. Количество мест ограничено.
                            </div>
                        </div>
                        <a target="_blank"
                           ga-event="register-participant"
                           data-category="register"
                           data-action="participant"
                           href="https://docs.google.com/forms/d/e/1FAIpQLSdB71Ocw5wLiSSYrhGEsZG9W6u2l4g5SieMOh9d_9YF9SHz0g/viewform"
                           class="btn btn-secondary btn-lg">Зарегистрироваться как зритель</a>
                        <div class="register-bottom">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"
                 id="register-viewer">
                <div class="box box-primary register-box wow boxCollapse"
                     data-wow-duration="0.7s">
                    <div class="box-inner wow boxCollapseInner"
                         data-wow-duration="0.7s"
                         data-wow-delay="0.7s"></div>
                    <div class="box-outer wow boxCollapseOuter"
                         data-wow-duration="0.7s"
                         data-wow-delay="0.7s"></div>
                    <div class="box-content register-content">
                        <h2 class="box-colorized register-title">Как зритель на
                            Grand Final</h2>
                        <div class="countdown">
                            <div class="countdown-description">Осталось мест:</div>
                            <div class="countdown-value">74</div>
                        </div>
                        <a target="_blank"
                           ga-event="register-viewer"
                           data-category="register"
                           data-action="viewer"
                           href="https://docs.google.com/forms/d/e/1FAIpQLSdB71Ocw5wLiSSYrhGEsZG9W6u2l4g5SieMOh9d_9YF9SHz0g/viewform"
                           class="btn btn-primary btn-lg">Зарегистрироваться</a>
                        <div class="register-bottom">
                            28 апреля, Smart.Point,
                            г. Алматы, ул. Байзакова 280
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>