<section class="schedule"
         id="schedule">
    <section class="container">
        <div class="text-center">
            <h1>Расписание</h1>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <p>
                        Внимание! Физическое присутствие участников необходимо в выходные дни <strong>20-21 и 27-28 апреля. </strong><br>  В
                        будние дни
                        в промежутке <strong>22-26 апреля</strong> команды будут работать с координаторами <strong>с 19:00 до 22:00</strong>, но
                        физическое
                        присутствие не обязательно!
                    </p>
                </div>
            </div>
        </div>
        <h3 class="schedule-subtitle">
            Апрель
        </h3>
        <div class="row">
            <div class="col-6 col-lg-4">
                <div class="schedule-content wow fadeInRight">
                    <div ga-event="schedule schedule-20"
                         data-category="schedule"
                         data-action="20"
                         class="schedule-box schedule-box--blue">
                        <div class="schedule-top">
                            <div class="schedule-date">20</div>
                            <div class="schedule-weekday">сб</div>
                        </div>
                        <div class="schedule-time">с 10:00 до 18:00</div>
                    </div>
                    <p>
                        Регистрация. Введение в ProductOn. Stakeholders интервью. Опрос и тестирование ЦА.
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="schedule-content wow fadeInRight">
                    <div ga-event="schedule schedule-21"
                         data-category="schedule"
                         data-action="21"
                         class="schedule-box">
                        <div class="schedule-top">
                            <div class="schedule-date">21</div>
                            <div class="schedule-weekday">вс</div>
                        </div>
                        <div class="schedule-time">с 10:00 до 18:00</div>
                    </div>
                    <p>
                        Составление User Stories, CJM. Анализ проблем. Анализ конкурентов.
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="schedule-content wow fadeInRight">
                    <div ga-event="schedule schedule-22"
                         data-category="schedule"
                         data-action="22"
                         class="schedule-box">
                        <div class="schedule-top">
                            <div class="schedule-date">22</div>
                            <div class="schedule-weekday">пн</div>
                        </div>
                        <div class="schedule-time">с 19:00 до 21:00</div>
                    </div>
                    <p>
                        Проектирование информационной архитектуры. Скетчинг/прототипирование.
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="schedule-content wow fadeInRight">
                    <div ga-event="schedule schedule-23"
                         data-category="schedule"
                         data-action="23"
                         class="schedule-box">
                        <div class="schedule-top">
                            <div class="schedule-date">23</div>
                            <div class="schedule-weekday">вт</div>
                        </div>
                        <div class="schedule-time">с 19:00 до 21:00</div>
                    </div>
                    <p>
                        Скетчинг/прототипирование.
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="schedule-content wow fadeInRight">
                    <div ga-event="schedule schedule-24"
                         data-category="schedule"
                         data-action="24"
                         class="schedule-box">
                        <div class="schedule-top">
                            <div class="schedule-date">24</div>
                            <div class="schedule-weekday">ср</div>
                        </div>
                        <div class="schedule-time">с 19:00 до 21:00</div>
                    </div>
                    <p>
                        Скетчинг/прототипирование.
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="schedule-content wow fadeInRight">
                    <div ga-event="schedule schedule-25"
                         data-category="schedule"
                         data-action="25"
                         class="schedule-box">
                        <div class="schedule-top">
                            <div class="schedule-date">25</div>
                            <div class="schedule-weekday">чт</div>
                        </div>
                        <div class="schedule-time">с 19:00 до 21:00</div>
                    </div>
                    <p>
                        UI дизайн. </p>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="schedule-content wow fadeInRight">
                    <div ga-event="schedule schedule-26"
                         data-category="schedule"
                         data-action="26"
                         class="schedule-box">
                        <div class="schedule-top">
                            <div class="schedule-date">26</div>
                            <div class="schedule-weekday">пт</div>
                        </div>
                        <div class="schedule-time">с 19:00 до 21:00</div>
                    </div>
                    <p>
                        UI дизайн. </p>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="schedule-content wow fadeInRight">
                    <div ga-event="schedule schedule-27"
                         data-category="schedule"
                         data-action="27"
                         class="schedule-box">
                        <div class="schedule-top">
                            <div class="schedule-date">27</div>
                            <div class="schedule-weekday">сб</div>
                        </div>
                        <div class="schedule-time">с 19:00 до 21:00</div>
                    </div>
                    <p>
                        Правки и подготовка презентаций.
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="schedule-content wow fadeInRight">
                    <div ga-event="schedule schedule-28"
                         data-category="schedule"
                         data-action="28"
                         class="schedule-box schedule-box--orange">
                        <div class="schedule-top">
                            <div class="schedule-date">28</div>
                            <div class="schedule-weekday">вс</div>
                        </div>
                        <div class="schedule-time">с 10:00 до 18:00</div>
                    </div>
                    <p>
                        Grand Final. Презентация работ. Выступление спикеров. Награждение победителей.
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>