@font-face {
    font-family: 'DIN Alternate';
    src: url('../assets/fonts/DINAlternate-Bold.eot');
    src: local('DIN Alternate Bold'), local('DINAlternate-Bold'),
        url('../assets/fonts/DINAlternate-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/DINAlternate-Bold.woff2') format('woff2'),
        url('../assets/fonts/DINAlternate-Bold.woff') format('woff'),
        url('../assets/fonts/DINAlternate-Bold.ttf') format('truetype'),
        url('../assets/fonts/DINAlternate-Bold.svg#DINAlternate-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
