/* Retina screens setup*/
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";

@mixin retina-background-image($file, $type, $size: 100% 100%) {
    background-image: url($file + "." + $type);
    background-size: $size;

    @media #{$retina} {
        background-image: url($file + "@2x." + $type);
        background-size: $size;
    }
}


@mixin description-font-size {
    font-size: remy(15);

    @include media-breakpoint-up(md) {
        font-size: remy(20);
    }

    @include media-breakpoint-up(lg) {
        font-size: remy(24);
    }
}

@mixin border-fill($height) {
    height: $height;
    top: -$height;
    background-image: url('/assets/img/lined-border.svg');
    background-repeat: repeat;
}


@mixin line($direction) {
    border-#{$direction}: 1px solid rgba(theme-color(primary), 0.2);
}

@mixin transition() {
    transition: $transition;
}