$theme-colors: (
  "primary": #00e0c8,
  "secondary": #ff7070,
  "yellow": #E9EC52,
  "blue": #00B4E0,
  "light": #9f9fa0,
  "gray": #4b4a54,
  "dark": #202020,
  "white": #ffffff,
);
$enable-shadows: false;

$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$font-family-monospace:  'DIN Alternate','Roboto','Arial' serif;
$font-family-base: $font-family-sans-serif;

// $font-size-lg: 18px;
// $font-size-sm: 12px;

$link-color: theme-color("primary");
$link-hover-color: theme-color("secondary");
$link-hover-decoration: none;

// $body-color: theme-color("dark");
// $body-bg: #f7f7f7;
// $text-muted: rgba( theme-color("dark"), 0.4);
// 64 - 32 h1
// 48 - 32 h2
// 32 - 24 h3
// 24 - 15 - 20 h4
// 18 - 18 h5
// 17 - 15 base
// 16 h6 

$h1-font-size:                remy(32);
$h1-font-size-lg:             remy(64);
$h2-font-size:                remy(32);
$h2-font-size-lg:             remy(48);
$h3-font-size:                remy(24);
$h3-font-size-lg:             remy(32);
$h4-font-size:                remy(20);
$h4-font-size-lg:             remy(24);
$h5-font-size:                remy(18);
$h6-font-size:                remy(16);

// $headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-family:        $font-family-monospace;
$headings-font-weight:        400;
// $headings-line-height:        1.33;

// $paragraph-margin-bottom:   1.2rem;


$transition: all 0.4s ease-in-out;

// $navbar-height: 110px;

// $nav-page-link-color: theme-color('gray');
// $nav-page-link-spacing-y: 11px;
// $nav-page-link-spacing-y-lg: 35px;

// $navbar-nav-link-padding-x: 12px;
// $navbar-padding-y: 10px;

// $modal-content-border-width:        0;

// $modal-backdrop-bg:                 theme-color('white');
// $modal-backdrop-opacity:            .8;


$navbar-toggler-padding-y:          0;
$navbar-toggler-padding-x:          0;
$navbar-toggler-font-size:          $font-size-lg !default;
$navbar-toggler-border-radius:      $btn-border-radius !default;

$navbar-dark-color:                 rgba($white, .6);
$navbar-dark-hover-color:           rgba($white, 1);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$white}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");
$navbar-dark-toggler-border-color:  transparent;

$navbar-nav-link-padding-x: 1rem;

$navbar-padding-y:                  $spacer;
$navbar-padding-x:                  $spacer;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           2rem;
$btn-border-radius-lg:        2rem;
$btn-border-radius-sm:        $border-radius-sm !default;

$input-btn-padding-y:         .45rem;
$input-btn-padding-x:         1rem;

$input-btn-padding-y-lg:      1rem;
$input-btn-padding-x-lg:      1.5rem;

$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               $input-btn-padding-x;
$btn-font-family:             $input-btn-font-family;
$btn-font-size:               $input-btn-font-size;
$btn-line-height:             $input-btn-line-height;

$btn-padding-y-lg:            $input-btn-padding-y-lg;
$btn-padding-x-lg:            $input-btn-padding-x-lg;
$btn-font-size-lg:            1rem;
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1260px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1230px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:                   theme-color("dark");
$body-color:                $white;